$base-text-color: #091a36;
$content-text-color: #013281;
$sub-text-color: #1e85ff;
$active-color: #fbc443;
$bg-color: #e3ebf6;
$active-text-color: #476aa2;
$non-active-text-color: #8a9bb7;
$primary-button: #445279;
$form-text-color: #8b95b1;
$base-bg-color: #f9fbfc;
$is-valid-color: #27ae61;
$is-non-valid: #e84b3a;
